/**
*
*
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: palevioletred;
}

button {
  padding: 8px 25px;
  background-color: paleturquoise;
  display: block;
  border: none;
  margin: 20px 0;
  text-align: center;
}
